#cart{
    font-family: "microsoft yahei";
    width:1190px;
    margin:20px auto;
    padding: 10px 0 0 0;
    overflow: hidden;
}
#cart .cart_step3{
    background: url(img/four_carts/cart_step.jpg) 0 -112px  no-repeat;
    width: 700px;
    height: 47px;
    float: right;
    margin: 0px 0px 30px 0px;
}
.cart_order_sus_info_box{
    text-align: center;
}
.cart_order_sus_info{
    color: #d00000;
    font-size: 18px;
    text-align: center;
    padding: 11px 0px;
    line-height: 40px;
    height: 40px;
}
.cart_order_sus_info span{
    float: left;
    width: 40px;
    height: 40px;
    background: url(img/icon_sprite/share02.png)no-repeat -163px -326px;
}
.cart_order_sus_info p{
    float: left;
    padding-left: 20px;
}
.wap_head{
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    vertical-align: middle;
    font-size: 12px;
    background-color: #ebeaea;
    margin-bottom: 5px;
    border: 0;
    font-family: "微软雅黑";
    font-weight: normal;
    overflow: hidden;
}
.cart_order_table_box{
    padding: 15px 40px 20px 40px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    margin-bottom: 20px;
}
.cart_order_table_box1{
    padding: 10px 0;
    font-size: 14px;
    color:#666;
}
.cart_order_table_box2{
    padding-left: 10px;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}
table{
    border-collapse: collapse;
}
table,tr,td,th{
    border: none;
    text-align: left;
}
.cart_order_table td{
    padding-right: 100px;
}
.cart_order_table th,.cart_order_table td{
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    text-align: left;
}
/* form表单 */
#pay_methord_box{
    margin-top: 20px;
}
.pay_methord_titl{
    margin: 10px 0 5px 35px;
}
#pay_methord_box ul{
    margin: 10px 0px 10px 35px;
    overflow: hidden;
    zoom: 1;
}
#pay_methord_box ul li{
    line-height: 25px;
    float: left;
    margin: 0 40px 15px 0;
}
#pay_methord_box ul li input,#pay_methord_box ul li img{
    vertical-align: middle;
}
.radio{
    vertical-align: middle;
    margin-right: 5px;
}
.payment_up .payment_checked_red i{
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 13px;
    right: 0;
    bottom: 0;
    background: url(img/icon_sprite/share02.png)no-repeat -313px -258px;
}
.payment_up .payment_checked_red{
    position: relative;
    border: 2px solid #d00000;
}
.payment_up .alipay{
    cursor: pointer;
    float: left;
    display: inline-block;
    height: 27px;
    line-height: 27px;
}
.payment_up .alipay img{
    height: 27px;
}
#payment_box ul{
    padding: 20px;
    zoom:1;
}
#current_payment_box{
    border: 1px solid #dfdfdf;
}
.payment_up a{
   float: right;
   margin-left: 20px;
   color: #d00000;
}
.payment_up{
    display: block;
}
#payment_box ul li{
    position: relative;
    line-height: 50px;
    vertical-align: middle;
    color: #828282;
}
.radio{
    vertical-align: middle;
    margin-right: 5px;
}
.bank_active_title_circle{
    display: inline-block;
    margin-right: 5px;
    width: 6px;
    height: 7px;
    background: url(img/icon_sprite/share02.png)no-repeat -296px -265px;
}
.bank_whiteback{
    background-color: #fff;
    border: 1px solid #e5e5e5;
}
#payment_list_box li ul{
    zoom: 1;
    display: table-cell;
    width: 100%;
}
#payment_list_box li ul li{
    display: inline-block;
    margin-right: 15px;
    position: relative;
    float: left;
}
.promote_recommend_upop{
    display: block;
    position: absolute;
    top: 30px;
    right: -180px;
    width: 300px;
    height: 20px;
}
.bank_icon_bg{
    background: url(img/four_carts/pay_bank_bg.jpg)left center no-repeat;
    padding-left:24px; 
    color: #000;
    line-height: 24px;
    display: block;
}
.confirm_ok{
    border: 0;
    background-color: #cc0001;
    color: #fff;
    height: 25px;
    line-height: 25px;
    padding: 0 25px;
    font-size: 12px;
    cursor: pointer;
    margin-top:10px; 
}
.confirm_cancel{
    border: 0;
    background-color: #d5d5d5;
    color: #000;
    height: 25px;
    line-height: 25px;
    padding: 0 25px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 10px;
}
.gotopay{
    margin-top: 30px;
    display: block;
}
.gotopay .pay_btn{
    float: right;
}
.pay_btn input{
    border: 0;
    cursor: pointer;
    float: right;
    overflow: hidden;
}
.all_bigBtn{
    display: inline-block;
    /* padding: 0 40px; */
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    color: #fff;
    font-family: "微软雅黑";
    font-size: 14px;
    border: 0;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
}
.gotopay .facepay_hint{
    float: right;
}
.allred_btn{
    background-color: #d31920;
}